
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navBar"><span class="admin-heading">Admin Console</span>
                <div class="collapse navbar-collapse order-3" id="exCollapsingNavbar">
                    <ul class="nav navbar-nav ml-auto admin-options">
                        {{!-- <li class="nav-item"><a href="/main" class="nav-link">About</a></li> --}}
                        <li class="nav-item"><a href="/" class="nav-link">Main</a></li>
                        <li class="nav-item"><a href="/advertise" class="nav-link">Advertisement</a></li>
                        <!-- <li class="nav-item"><a href="#" class="nav-link">Sign up/Sign in</a></li> -->
                        {{!-- <li class="nav-item"><a href="#footerContact" class="nav-link">Contact</a></li> --}}
                        <li class="nav-item"><a href="/api/advertisements" class="nav-link">Ads API</a></li>
                        <li class="nav-item"><a href="/api/businesses" class="nav-link">Businesses API</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Pending</h1>
            <ul type="none" class="pending-list">
                {{!-- All ads which are neither in the active list nor archived --}}
                {{#each ads}}
                    {{#unless this.dataValues.active}}
                    {{#unless this.dataValues.archive}}
                        {{> ads/ads-block active=true}}
                    {{/unless}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>Active</h1>
            <ul type="none">
                {{!-- All ads which are neither in the pending list nor archived --}}
                {{#each ads}}
                    {{#if this.dataValues.active}}
                    {{#unless this.dataValues.archive}}
                        {{> ads/ads-block active=false}}
                    {{/unless}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>Archive</h1>
            <ul type="none">
                {{!-- All ads which are neither in the pending list nor active --}}
                {{#each ads}}
                    {{#if this.dataValues.archive}}
                    {{#unless this.dataValues.active}}
                        <li class="advertisement-info"><span class="prodID">{{this.dataValues.id}}</span>) {{this.dataValues.Business.dataValues.bussName}}: <a href="/product/{{this.dataValues.id}}">{{this.dataValues.prodName}}</a>&nbsp;&nbsp;<button class="btn btn-warning re-advertise" id={{this.dataValues.id}}>Re-Advertise</button> <button class="btn btn-danger reject" id={{this.dataValues.id}}>Remove</button></li>
                    {{/unless}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>