
    <nav  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navBar" >
        <div class="container">
            <a class="navbar-brand" href="/"><img
                src="./assets/images/download-removebg-preview.png"
                width="50"
                height="50"
                alt="businessIcon"
                loading="lazy"
                />BAP</a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                data-target="#exCollapsingNavbar">
                &#9776;
            </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="nav navbar-nav ">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/advertise" class="nav-link">Advertisement</a></li>
                    <!-- <li class="nav-item"><a href="#" class="nav-link">Sign up/Sign in</a></li> -->
                    <li class="nav-item"><a href="/contactus" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>

<!-- Nav End/-->

<!-- Nav End-->

<!-- Header Start -->
<div class="container-fluid">
    <header>
        <div class="row">

            <div id="JumboTron" class="jumbotron jumbotron-fluid text-primary"
                style="background-color: rgb(113, 226, 113); width: 100%">
                <div class="text-center">
                    <h1 class="display-4">Business Advertisement Portal</h1>
                    <p class="lead">We help smaller companies advertise and uplift their products to success</p>
                    <img src="helping-hand_70921-212.jpg" alt="Placeholder" style="display: flex;
                margin-left: auto;
                margin-right: auto;
                width: 50%;">
                </div>
            </div>
        </div>
    </header>


    <div class="text-white">
        <div class="row" style="height: 80px;">
            <p class="mx-auto my-auto" style="font-size: 30px;">Who we support</p>

        </div>
        <br>
        <!-- Search form -->
        <div class="row">
            <div class="col-sm text-center mb-2">
                <form>
                    <label for="ice-cream-choice">Choose a Category:</label>
                    <input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice" />

                    <datalist id="ice-cream-flavors">
                        <option value="technology">
                        <option value="foods">
                        <option value="clothing">
                    </datalist>
                </form>
            </div>
        </div>
    </div>


    <div class="row" id="cardholder">
        {{!-- Render all cards which are active --}}
        {{#each approved}}
        <div class="col-lg-4">
            <div class="card mb-2" style="width: 19rem;">
                <div class="card-header text-white bg-primary"> 
                    <h3 id="businessName">{{this.dataValues.Business.dataValues.bussName}}</h3>
                    <h5><i>{{this.dataValues.Business.dataValues.bussCategory}}</i></h5>
                </div>
                <div class="card-body bg-light text-dark">
                    <img src="/images/tmp/{{this.dataValues.imgName}}" alt="Placeholder" sizes="(min-width: 256px) 114px, 350px"
                        srcset="" width="262" height="204">
                    <ul class="list-group product-details">
                        <li class="list-group-item">{{this.dataValues.prodName}}</li>
                        <li class="list-group-item"><span
                                class="originalPriceCardRender">${{this.dataValues.originalPrice}}</span> <span
                                class="discountedPrice">&nbsp;&nbsp;${{this.dataValues.discountedPrice}}&nbsp;&nbsp;</span>
                        </li>
                        <li class="list-group-item bussEmail">{{this.dataValues.Business.dataValues.bussEmail}}</li>
                        <li class="list-group-item description">{{this.dataValues.description}}</li>
                        {{!-- <li class="list-group-item" style="font-size: 15px;"></li> --}}
                        {{!-- </li> --}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

        <footer 
            class="footer mt-4 py-3 container-fluid text-white bg-secondary text-center fixed-bottom"
            id="footerContact">
            <div class="row">
                <div class="col-md">
                    <small>Copyright &copy; #'s Website 2020</small>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="github-link" href="https://github.com/amankmr4"><i class="fab fa-github"></i>Aman
                                Kumar</a>
                            <a class="github-link" href="https://github.com/felipesqf"><i class="fab fa-github"></i>Felipe
                                Ferreira</a>
                            <a class="github-link" href="https://github.com/Michaelmw17"><i
                                    class="fab fa-github"></i>Michael Watt</a>
                            <a class="github-link" href="https://github.com/prabhm512"><i class="fab fa-github"></i>Prabh Singh
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>