{{#each ads}}
    {{!-- Show sample card on hovering over entry --}}
    <div class="row">
        <div class="col-sm-4">
        <div class="card m-3" style="width: 19rem;">
            <div class="card-header text-white bg-primary">
                <h3 id="businessName">{{this.dataValues.Business.dataValues.bussName}}</h3>
                <h5><i>{{this.dataValues.Business.dataValues.bussCategory}}</i></h5>
            </div>
            <div class="card-body bg-light text-dark">
                <img src="https://via.placeholder.com/150" alt="Placeholder"
                    sizes="(min-width: 256px) 114px, 350px" srcset="" width="262" height="204">
                <ul class="list-group product-details">
                    <li class="list-group-item">{{this.dataValues.prodName}}</li>
                    <li class="list-group-item"><span class="originalPriceCardRender">${{this.dataValues.originalPrice}}</span>   <span class="discountedPrice">&nbsp;&nbsp;${{this.dataValues.discountedPrice}}&nbsp;&nbsp;</span></li>
                    <li class="list-group-item bussEmail">{{this.dataValues.Business.dataValues.bussEmail}}</li>
                    <li class="list-group-item description">{{this.dataValues.description}}</li>
                    {{!-- <li class="list-group-item" style="font-size: 15px;"></li> --}}
                    {{!-- </li> --}}
                </ul>
            </div>
        </div>
    </div>
{{/each}}
